.loc-heading {
    color: #4792e7;
    margin-left: 30px;
    margin-top: 20px;
}

.accord-loc {
    margin: 15px;
    width: 80%;
    margin-bottom: 20px;
}

.sort, .group, .revert {
    display: block;
}

.sort, .revert {
    margin: 30px -70%;
}

.group {
    margin-left: -70%;
    margin-top: -15px;
}

.sortOrGroup {
    margin: 70px;
}

@media screen and (max-width: 600px) {
    .sort, .group, .revert {
        margin: 0 20%;
    }

    .group, .revert {
        margin-bottom: 60px;
        margin-top: 15px;
    }
}